*.egg-info/
*~
/.env
/.idea/
/build/
/dist/
/uv.lock
__pycache__/
.mise.*.local.toml
.mise.local.toml
mise.*.local.toml
mise.local.toml
.mise/*.local.toml
mise/*.local.toml
mise.local.lock
mise.*.local.lock
