name: Check

on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "33 3 * * *"

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - uses: hacs/action@d556e736723344f83838d08488c983a15381059a # 22.5.0
        with:
          category: integration
          ignore: brands information
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: home-assistant/actions/hassfest@master

  lint:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # for commit message checks
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          activate-environment: true
      - name: Install Python dev dependencies
        run: uv pip install --upgrade --requirements requirements/dev-requirements.txt
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Check code
        run: lefthook run pre-commit --all-files --force --no-tty
      - name: Check commit messages
        run: lefthook run commit-msgs-on-pr-branch --no-tty
        if: ${{ github.event_name == 'pull_request' }}
